body {
  color: #444446;
  font-family: arial, helvetica, sans-serif;
}
/*
charcoal: #444446
green: #afcc49
*/
h1 {
  padding-bottom: 2em;
  font-size: 2em;
}

table.form {
  text-align: right;
}

ul {
  list-style-type: circle;
  margin: 1em;
}

div.content {
  margin-left: 4em; 
}

div.footer {
  margin: 4em; 
}
div.page
{
background:url("../images/bridge-my-path-hompage.v1-reference.png");
width: 1200px;
height: 908px 
}
div.header {
    background: url("../images/header-bg.png")  repeat-x scroll center top transparent;
    position:relative;
    border-bottom : #afcc49 5px solid;
    top: 3px;
}
.logoheader{padding-left: 121px; padding-top:2px; }
div.wrapper
{
width:990px;
 }

#menu{
float:right;
 }
 #menu li {
    float: left;
    padding-left: 18px;
    position: relative;
    width: 99px;
    z-index: 20;
}
#menu ul{
list-style:none;}
#menu ul a { 
font-style: Arial-MT Rounded;
font-size: 18px;
color: #444446;
text-decoration:none;
}
#menu ul a:hover {
.login{float: right; }