/********** SHARED **********/
.rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 1px;
  border-radius: 10px;
}

html {
  height: 100%;
}

body {
  color: #444446;
  font-family: arial, helvetica, sans-serif;
  background-image:url(../images/background-pattern.png);
  margin: 0px;
  padding: 0px;
  height: 100%;
}
/*
charcoal: #444446
green: #afcc49
*/
h1 {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 2em;
}

table.form {
  text-align: right;
}

img {
  border: none;
}

/********** WRAPPER FOR STICKY FOOTER **********/
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -170px;
}

/********** HEADER **********/
div.header {
  background: url(../images/header-bg.png")  repeat-x scroll center top transparent;
  border-bottom : #afcc49 5px solid;
}
a.register {
  width: 99px;
  height: 28px;
  float: right;
  clear: right;
  background-image:url(../images/register-button.png);
}

a.register:hover {
  background-position: bottom;
}

#menu {
 float:right;
 clear: right;
 padding-top: 10px;
}
 
a.nav { 
  font-size: 18px;
  color: #444446;
  text-decoration:none;
}

a.nav:hover {
  color: #6e6e6e;
}

.login{
  float: right;
  padding-top:10px;
}

.login a {
font-size: 16px;
color: #9aacb0;
text-decoration:none; }

.login .or {
font-size: 12px;
color: #9aacb0;
font-style: italic 
}

br {
  clear: both;
}


/********** CONTENT **********/
div.content {
  margin-left: 4em;
  width: 920px;
  margin: 0px auto;
}

/********** FORMS **********/

label {
  display: block;
  margin-left: 20px;
  font-size: 15px;
  clear: left;
}

input {
  border: none;
  background: url(../images/input-field-bg.png) no-repeat;
  height: 29px;
  width: 170px;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 10px;
}

/********** PATHS **********/
div.path {
  padding: 0px;
  height: 147px;
  width: 910px;
  margin-bottom: 40px;
  background-image:url(../images/path-box.png);
}

.path_icon {
  left: -30px;
  position: relative;
  top: -15px;
  float: left;
  padding-left: 40px;
}

.path_steps {
  float: left;
  clear: both;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.path_step_wrapper {
  display: inline;
  float: left;
}

.path_step_label {
  font-size: 14px;
  color: #444446;
  text-align: center;
  float: left;
  width: 90px;
}

h1.path_name  {
  color: #81989d;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
}

.path_population {
  float: right;
  clear: right;
  font-style: italic;
  padding-top: 22px;
  margin-right: 10px;
}

a.join_path {
  float: right;
  clear: right;
  width: 140px;
  height: 40px;
  margin-top: 8px;
  margin-right: 8px;
  background-image:url(../images/join-button.png);
}

a.join_path:hover {
  background-position: bottom;
}

/********** REGISTER **********/
.centered_content {
  margin: 0px auto;
  width: 493px;
  padding-left: 50px;
}

.register {
  background-image: url(../images/register-box-bg.png);
  width: 493px;
  height: 343px;
  margin: 0px auto;
}

.register_form {
  margin: 0px;
  float: left;
  clear: left;
}

.register_quote {
  float: left;
  width: 200px;
  padding-left: 20px;
  color: #baccd0;
  font-size: 18px;
}

.box_heading {
  color: #baccd0;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  clear: both;
}

span.quote {
  color: #444446;
}

.register_divider {
  background-image: url(../images/vertical-divider-register.png);
  float: left;
  margin: 10px;
  margin-left: 50px;
}

#count_me_in {
   height: 40px;
   width: 170px;
   background: url(../images/count-me-in-button.png") no-repeat;
   margin-left: 20px;
   margin-top: 8px;
}

#count_me_in:hover {
  background-position: bottom;
}

/********** LOGIN **********/
.login2 {
  background-image: url(../images/login-box-bg.png);
  width: 492px;
  height: 304px;
  margin: 0px auto;
}

#lets_do_this {
   height: 40px;
   width: 170px;
   background: url(../images/login-button.png) no-repeat;
   margin-left: 20px;
   margin-top: 8px;
}

#lets_do_this:hover {
  background-position: bottom;
}

.register_qoute p {
  padding-bottom: 20px; 
}

.register_quote p a {
  font-size: 14px;
  text-decoration: underline;
  color: #81989d;
}

a.login_link:hover {
  text-decoration: none
}

p.login_link {
  margin: 20px; 
}
/********** FOOTER **********/

.push {
  height: 170px;
}

.footer {
  height: 150px;
  width: 100%;
  text-align: center;
  background-image:url(../images/footer-bg.png);
  margin: 0px;
  padding: 0px;
}

.footer_nav {
  width: 50%;
  float: left;
  margin: 0;
  font-size: 14px;
}

.footer_social {
  background: url(../images/tweet-bubble.png") no-repeat;
  float: right;  
  font-size: 12px;
  line-height: 16px;
  width: 334px;
  padding-top: 10px;
  margin-top: 10px;
}

.footer_social a {
  color: #81989d;
  text-decoration: none;
}

#twitter_button a {
  float: left;
  width: 95px;
  height: 24px;
  background: url(../images/twitter-button.png) no-repeat;
  color: #396078;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-indent: 28px;
  line-height: 22px;
  white-space: nowrap;
}

#facebook_button a {
  float: left;
  width: 95px;
  height: 24px;
  background: url(../images/facebook-button.png) no-repeat;
  color: #396078;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-indent: 28px;
  line-height: 22px;
  white-space: nowrap;
}

#twitter_button a:hover, #facebook_button a: hover {
  background-position: bottom;
}
