body {
  color: #444446;
  font-family: arial, helvetica, sans-serif;
}
/*
charcoal: #444446
green: #afcc49
*/
h1 {
  padding-bottom: 2em;
  font-size: 2em;
}

table.form {
  text-align: right;
}

ul {
  list-style-type: circle;
  margin: 1em;
}

div.content {
  margin-left: 4em; 
}

div.footer {
  margin: 4em; 
}
